{
    "env": {
        "karma": {
            "plugins": [
                [
                    "istanbul",
                    {
                        "exclude": ["tests/**/*.test.js", "src/js/vendor"]
                    }
                ]
            ]
        }
    }
}